h1 {
  background: black;
  color: goldenrod;
}

.container {
  position: relative;
  background: url("../assets/images/dan-meyers-low.jpg");
  background-size: cover;
  background-position: center;
  width: clamp(900px, 100vw, 1280px);
  height: clamp(606px, 100vh, 862px); // the ratio of height/width of source image
}

.controls {
  z-index: 2;
  padding: 1rem;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  color: white;
  font-weight: bold;
  width: 200px;
}

.canvas {
  z-index: 1;
  opacity: 0;
  
  &.loaded {
    opacity: 1;
    transition: opacity 1s ease-in;
  }
}


.hidden {
  display: none;
}