.container {
  position: relative;
  background: url("../assets/images/dan-meyers-low.jpg");
  background-size: cover;
  background-position: center;
  width: 1152px;
  height: 776px;
}

.controls {
  padding: 1rem;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .75);
  color: white;
  font-weight: bold;
  width: 200px;
  height: 100px;
}

.canvas {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;

  &.loaded {
    opacity: 1;
  }
}



.hidden {
  display: none;
}